<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.nebula.highnet</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/josh/logs/nebula/nebula</string>
      <string>-config</string>
      <string>/Users/josh/logs/nebula/highnet.yml</string>
		</array>
    <key>UserName</key>
    <string>nebula</string>
    <key>GroupName</key>
    <string>netmon</string>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardOutPath</key>
		<string>/Users/josh/logs/nebula/stdout.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/josh/logs/nebula/stderr.log</string>
		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
		</dict>
		<key>ThrottleInterval</key>
		<integer>10</integer>
	</dict>
</plist>
